@use './variables' as *;

aside {

    nav {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-block: 2em;
    }

    .step span {
        display: block;
        padding: 5px 10px;
        border: 1px solid $clr-white;
        border-radius: 100%;
        color: $clr-white;
    }

    .step p {
        display: none;
    }

    .active span {
        background-color: white;
        color: black;
    }
}

.bg-container {
    position: absolute;
    z-index: -1;
    width: 100%;
}