@use './variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff-base;
    background-color: $clr-light-gray;
}

input, button {
    font: inherit;
    outline: none;
}

picture, img {
    display: block;
    max-width: 100%;
}

label {
    display: block;
}

@font-face {
    font-family: $ff-base;
    src: url(../../../assets/fonts/Ubuntu-Regular.ttf);
}