@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eee;
}

.side-bar {
    background-image: url('../../assets/bg-sidebar-mobile.svg');
    background-size: cover;
    background-position: 100% bottom;
}

@layer base {
    .primary-btn {
        @apply bg-primary-marine-blue p-2 px-5 text-white rounded-md;
    }

    .selected-plan {
        @apply border-primary-purplish-blue bg-neutral-magnolia;
    }
}

@media only screen and (min-width: 768px) {
    .side-bar {
        background-image: url('../../assets/bg-sidebar-desktop.svg');
    }
}